.thi-page {
    width: 100%;
    padding-top: 7rem;
    /* background: #F4F4F4; */
  }
  .thi-page::before {
    content: '';
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #e1e0e0 url('../../assets/World_map_blank_without_borders.svg.png') no-repeat center center/cover;
    opacity: 0.2;
    z-index: -1;
  }
  .thi-2 {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .that-h1 {
    color: #fff;
  }
  .thi-container {
    max-width: 1350px;
    margin: 0 auto;
  }
  .thi-con {
    display: flex;
    padding: 20px;
  }
  .thi-con .thi-divs {
    /* background: linear-gradient( rgba(23, 40, 85, 0.272),   rgba(23, 40, 85, 0.272)), url(/src/assets/gettyimages-1206814561-640x640.jpeg); */
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
  }
  .thi-con .thi-divs h5 {
    font-size: 17px;
    font-weight: 400;
    color: red;
    width: 27%;
    /* height: 5.5vh; */
    border-radius: 10px;
    background: #F4ECEC;
    text-align: center;
    /* padding-top: .6rem; */
    padding: 20px;
    margin-top: 1rem;
  }
  .thi-con .thi-divs h1 {
    font-size: 38.5px;
    color: #32353A;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .thi-con .thi-divs p {
    font-size: 19px;
    font-weight: 400;
    line-height: normal;
    color: #32353A;
  }
  .thi-con .thi-divs .btn {
    margin-top: 2rem;
    width: 30%;
    /* height: 6vh; */
    padding: 15px;
    background: #F4ECEC;
    color: rgba(0, 0, 0, 0.601);
    border: 1px solid red;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
  }
  .thi-con .thi-divs .btn:hover {
    background: #fff;
    color: rgba(255, 0, 0, 0.556);
    transform:scale(1.1);
    z-index: 10;
  }

  .first-3 {
    width: 60%;
    /* background: #32353A; */
    display: flex;
  }
  .first-3 .first-3-half1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    margin-top: 3.5rem;
  }
  .first-3 .first-3-half1 .sec1 {
    background: #fff;
    margin-bottom: 2rem;
    width: 78%;
    /* height: 50%; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 9.5rem;
    cursor: pointer;
    /* box-shadow: 5px 5px 3px 3px rgba(85, 83, 83, 0.103); */
    -webkit-box-shadow: -1px 1px 5px 6px rgba(0, 0, 0, 0.039);
    -moz-box-shadow: -1px 1px 5px 6px rgba(0,0,0,0.039);
    box-shadow: -1px 1px 5px 6px rgba(0,0,0,0.039);
  }
  .first-3 .first-3-half1 .sec1 h2 {
    color: #32353A;
    font-size: 24px;
    font-weight: 600;
  }
  .first-3 .first-3-half1 .sec1 p {
    color: #32353A;
    font-size: 16px;
    line-height: normal;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .first-3 .first-3-half1 .sec1 .iconH {
    background-color: #F4ECEC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .first-3 .first-3-half1 .sec1 .iconH .icn {
    color: red;
    transition: .5s ease-in-out;
  }

  .first-3 .first-3-half1 .sec1:hover .iconH {
    background-color: red;
    transform:scale(1.1);
  }
  .first-3 .first-3-half1 .sec1:hover .iconH .icn {
    color: #fff;
  }
  .first-3 .first-3-half2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    
    width: 70%;
  }
  .first-3 .first-3-half2 .sec2 {
    background: #Fff;
    margin-bottom: 2rem;
    width: 78%;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: -1px 1px 5px 6px rgba(0, 0, 0, 0.039);
    -moz-box-shadow: -1px 1px 5px 6px rgba(0,0,0,0.039);
    box-shadow: -1px 1px 5px 6px rgba(0,0,0,0.039);
  }
  .first-3 .first-3-half2 .sec2 h2 {
    color: #32353A;
    font-size: 24px;
    font-weight: 600;
  }
  .first-3 .first-3-half2 .sec2 p {
    color: #32353A;
    font-size: 16px;
    margin-top: 2rem;
    line-height: normal;
    font-weight: 300;
  }
  .first-3 .first-3-half2 .sec2 .iconH {
    background-color: #F4ECEC;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .first-3 .first-3-half2 .sec2 .iconH .icn {
    color: red;
    transition: .5s ease-in-out;
  }

  .first-3 .first-3-half2 .sec2:hover .iconH {
    background-color: red;
    transform:scale(1.1);
  }
  .first-3 .first-3-half2 .sec2:hover .iconH .icn {
    color: #fff;
  }

  @media screen and (max-width: 760px) {
    .thi-con {
      flex-direction: column;
    }
    .thi-con .thi-divs {
      margin-top: 0;
      height: 40vh;
      margin-bottom: 7rem;
    }
    .thi-con .thi-divs {
      width: 100%;
    }
    .thi-con .thi-divs h5 {
      width: 50%;
    }
    .thi-con .thi-divs .btn {
      width: 50%;
    }
    .thi-con .thi-divs h1 {
      font-size: 27px;
    }
    .thi-con .thi-divs p {
      font-size: 15px;
    }
    .first-3 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .first-3 .first-3-half1 {
      width: 100%;
      align-items: center;
      padding: 0;
      margin: 0;
    }
    .first-3 .first-3-half2 {
      width: 100%;
      align-items: center;
      padding: 0;
      margin: 0;
      margin-top: 20px;
    }
    .first-3 .first-3-half1 .sec1 {
      margin: 0;
      margin-bottom: 10px;
      margin-top: 20px;
    }

    /* Contact styling */
    .contactContentHold {
      display: flex;
      flex-direction: column;
  }
  }

  @media screen and (max-width: 1024px) {
    .thi-con {
      display: flex;
      padding: 20px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .thi-con .thi-divs {
      margin-top: 0;
      width: 90%;
      height: 30vh;
    }
    .first-3 {
      width: 90%;
    }
  }