* {
    padding: 0;
    margin: 0;
  }
  .foundationBase {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 80px;
  }
  .foundationBase h1 {
    padding-bottom: 20px;
  }
  .fP p {
    font-size: 20px;
    line-height: 2em;
    color: grey;
    width: 75%;
    text-align: left;
    margin: 0 auto;
  }
  .backgroundImg {
    height: 500px;
    width: 100%;
    background: url(../../assets/pexels-ketut-subiyanto-4546016-1.jpg)no-repeat center center/cover;
  }
  span {
    color: red;
  }
  .fText {
    width: 100%;
    height: 90vh;
    background-color: rgba(0, 0, 0, 0.265);
    position: absolute;
    padding-top: 230px;
    color: #fff;
    line-height: 5em;
    text-align: center;
    top: 0;
  }
  .fText h1 {
    font-size: 57px;
  }
  .fText p {
    font-size: 20px;
    font-weight: 500;
  }
  .fText p .goHome {
    font-size: 20px;
    color: #fff;
    padding-top: .2em;
    transition: .5s ease-in;
    text-transform: none;
}
.fText p .goHome:hover {
    color: rgba(255, 0, 0, 0.513);
}
  .img3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }
  .img3 h1 {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
  }
  .img3 p {
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
  }
  .img3 .one p {
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0
  }
  .img3 .two p {
    background-color: goldenrod;
    color: #fff;
    position: absolute;
    top: 0;
  }
  .img3 .three p {
    background-color: green;
    color: #fff;
    position: absolute;
    top: 10;
    margin-left: 8rem;
  }
  .three .words{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img3 .one img {
    border: 2px dashed rgba(128, 128, 128, 0.589);
    width: 250px;
    height: 150px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
  }
  .img3 .two img {
    border: 2px dashed rgba(128, 128, 128, 0.589);
    width: 250px;
    height: 150px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
  }
  .img3 .three img {
    border: 2px dashed rgba(128, 128, 128, 0.589);
    width: 250px;
    height: 150px;
    border-radius: 50%;
    padding: 5px 5px 5px 5px;
  }

  @media screen and (max-width: 768px) {
    .fP {
      width: 90%;
    }
    .fP p {
      color: black;
      text-align: left;
    }
    .img3 {
      display: flex;
      flex-direction: column;
    }
  }