* {
    margin: 0;
    padding: 0;
}
footer {
    background-color:#252628;
    height: auto;
    margin-top: 55px;
}
.containerF {
    background-color:#252628;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 7em; */
}
.mainHr {
    width: 100% !important;
    /* border: 1px solid red; */
    background: #37383B;
    border: dashed 1px #37383B;
    position: absolute;
}
.contentF {
    background-color: black;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    margin-top: 6rem;
}
.div0 {
    width: 50%;
    background-color: black;
    border: none;
    line-height: 2em;
    text-align: center;
    display: flex;
    gap: 2em;
    /* flex-direction: column; */
    padding: 1em 2em 1em 2em;
}
.div0 h2 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}
.div0 p {
    font-weight: 400;
    color: #fff;
    font-size: 15.5px;
    text-align: left;
}
.div1 h2 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}
.div1 p {
    font-weight: 400;
    color: #fff;
    font-size: 15.5px;
    text-align: left;
}
.div2 h2 {
    font-weight: 600;
    font-size: 20px;
}

.div1 {
    width: 50%;
    background-color: #E51837;
    border: none;
    line-height: 2em;
    text-align: center;
    display: flex;
    gap: 2em;
    /* flex-direction: column; */
    padding: 2em 1em 1em 2em;
}
.div2 {
    width: 50%;
    background-color: black;
    border: none;
    text-align: center;
    display: flex;
    gap: 2em;
    /* flex-direction: column; */
    padding: 1em 2em 1em 2em;
}
.div2 h2 {

}
.iconF {
    height:50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.307);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .contentF h2 {
    /* font-size: 15px; */
    color: #fff;
}
.footer .contentF h3 {
    font-size: 20px;
    font-weight: 400;
    color: grey;
    text-align: left;
}
.lastF {
    color: #fff;
    padding-top: 3em;
    text-align: center;
}
@media only screen and (max-width: 1284px) {
    * {
        box-sizing: border-box;
    }
    .containerF {
        height: auto;
        padding: 2em;
        margin-top: 3em;
    }
    .mainHr {
        margin-top: 50px;
    }
    .contentF {
        width: 100%;
        height: auto;
        margin-top: 0;
        flex-direction: column;
        align-items: center;
    }
    .div0,
    .div1,
    .div2 {
        width: 70%;
        padding: 2em;
        margin-bottom: 1em;
    }
    .iconF {
        padding: 5px;
    }
    .footer .contentF h3 {
        text-align: center;
    }
    .lastF {
        margin-top: 2em;
    }
}