@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #0fb8e0;
  --primary-dark: red;
}

  
  /* :root {
    --container-color: #054CD7;
    --second-color: #E9F6FF;
    --text-color: #18304B;
    --bg-color: #fff;
  } */
span {
  color: var(--primary-color)
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:#000;
  cursor: pointer;
}

p {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

.container {
  max-width: 1240px;
  margin: auto;
}

button {
  /* font-family: 'puppies', 'san-serif'; */
  padding: .7rem 1.5rem;
  margin: 1rem 0;
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  color:#fff;
  font-size: 1rem;
  font-weight: 500;
  margin-right: 20px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  border-radius: 20px;
  transition: .2s ease-in;
}

button:hover {
    background-color: #fff;
    color: rgb(46, 46, 46);
    border: 1px solid red;
}

@media screen and (max-width: 940px) {
  h1  {
    font-size: 3rem;
  }

  h2  {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}


#embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img {
  width: 100%;
  height: 90vh;
}